#content {
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: 600px;
  background-image: url('images/ryan-background.jpg');
  background-color: gray;
}

#greeting-container {
  margin-top: 20px;
}

#header{
    display: flex;
    flex-direction: row;
}

#headerLogos{
    display: flex;
    flex-direction: row;
}
